html {
  font-family: "OpenSans", sans-serif;
}

body {
  font-family: "OpenSans", sans-serif;
  line-height: 1.5;
}

.app-header {
  text-align: center;
}

.header-background-image {
  width: 100%;
  position: relative;
}

.menu-list {
  list-style-type: none;
  display: inline-flex;
}

.background {
  height: 100%
}

.main-menu {
  display: inline-table;
  margin-top: 28px;
}

.main-text {
  top: 380px;
  left: 179px;
  width: 280px;
  position: absolute;
}

.main-text:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  height: 1px;
  width: 270px;
  background: #f09;
}

.pink-bar:before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 10px;
  height: 1px;
  width: 100%;
  background: rgba(255,255,255,0.1);
}

.under-text {
  padding: 30px 10px 10px;
}

.pink-text {
  color: #f09;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 4px;
  font-weight: 600;
}

.left-align {
  text-align: left;
}

.black-text {
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 10px;
  font-weight: bold;
}

.text-color {
  text-align: left;
}

.logo-absolute {
  text-align: left;
  float: left;
  width: 50%;
}

.logo-absolute img{
  max-width: 400px;
  height: 110px;
}

.link-item {
  display: inline-table;
  padding-right: 30px;
}

.menu-list li a {
  color: black;
}

.secondary-menu {
  display: block;
  position: absolute;
  top: 75px;
  background: #00182c;
  right: 0;
  padding: 20px 0;
}

.secondary-menu li a {
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.secondary-list {
  margin-bottom: 0;
}

.header-menu {
  background-color: white;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 50px;
  width: 90%;
  margin: 0 5%;
}

a sup {
  color: #f09;
  font-size: 14px;
}

.form-link {
  margin-left: 30px;
}

.job-search-form {
  position: relative;
  background: #f09;
  width: 50%;
  bottom: 100px;
  margin: 0 auto;
  padding: 14px 10px 20px 10px;
}

.links li a {
  color: white;
  cursor: pointer;
  list-style-type: none;
}

.links li {
  list-style-type: none;
}

.links {
  display: inline-flex;
  width: 100%;
}

.zoeken-button {
  position: absolute;
  top: 186px;
  right: 31px;
  border: 2px solid #00182c;
  background-color: #00182c;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.zoeken-button:hover {
  background-color: #6e737e;
  border: 2px solid #6e737e;
}

.zoeken-button i {
  font-size: 18px;
  line-height: 25px;
  padding-top: 9px;
  margin-right: 5px;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
}

.inputs {
  margin-bottom: 20px;
}

.input {
  width: 45%;
  padding: 24px 10px;
  display: inline-flex;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 0;
}

.job-search-form h2 {
  color: white;
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 28px;
}

.left-align {
  text-align: left;
}

.vacancy-image {
  width: 100%;
}

h2.left-align {
  font-weight: bold;
  margin-bottom: 30px;
}

.heading-jobs {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.jobs-text {
  font-size: 17px;
  text-align: left;
  padding-left: 61px;
  padding-right: 237px;
}

.recent-title {
  font-weight: bold;
  margin-bottom: 30px;
}

.vacancies-section {
  padding-top: 55px;
  font-size: 17px;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.subscribe-form {
  border: 1px solid #ececec;
  display: table;
  width: 70%;
}

.field-input {
  font-size: 17px;
  padding: 23px 24px 25px 24px;
  position: relative;
  width: 100%;
  border: 0;
  outline: 0;
}

.field-input-wrap {
  position: relative;
  display: flex;
}

.left-section {
  width: 90%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-right: 8px;
}

.bottom {
  margin-bottom: 80px;
}

.main-action {
  border: 2px solid black;
  color: white;
  background-color: black;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 18px;
  padding: 12px 15px;;
}

.field {
  margin-bottom: 0;
  position: relative;
}

.base-form {
  margin: 0 auto;
  text-align: left;
}

.title-one {
  color: #f09;
  font-size: 50px;
  line-height: 58px;
  font-weight: bold;
  margin-bottom: 50px;
}

.central-text h3 {
  color: #00182c;
  font-weight: bold;
  width: 45%;
  margin: 0 auto;
}

.text-size {
  font-size: 17px;
}

.bottom-distance {
  margin-bottom: 100px;
}

.left-side {
  text-align: left;
  margin-top: 65px;
}

.left-button {
  padding-left: 61px;
}

.left-border {
  border-left: 1px solid #ececec;
}

.left {
  padding-left: 237px;
  padding-right: 61px;
}

.face {
  margin-bottom: 0px;
}

.right {
  padding-right: 237px;
  padding-left: 61px;
}

.social-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.i {
    display: inline-block;
    margin-top: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.i-phone{
  width: 19px;
  height: 27px;
  background-image: url('./phone.png');
}

.phone {
    font-weight: bold;
    background: #f09;
    width: auto;
    height: 64px;
    padding: 20px;
    cursor: pointer;
    color: white;
    font-size: 26px;
    line-height: 64px;
    font-family: "Futura","OpenSans",sans-serif;
}

.phone:hover {
  color: white;
  text-decoration: none;
}

.contact {
  margin-right: 20px;
}

.lin {
    margin-top: 21px;
    margin-right: 25px
}

.facebook {
  background: #3a589e;
  padding: 27px;
}

.linkedin {
  background: #007bb6;
  padding: 27px;
}

.i-facebook {
    background-image: url('./facebook.png');
    width: 100%;
    height: 23px;
}

.i-linkedin {
    background-image: url('./linkedin.png');
    width: 21px;
    height: 22px;
}

.social-wrap {
  position: relative;
  top: 43px;
  z-index: 2
}

.footer-links {
  padding-top: 100px;
  position: relative;
  background: #00182c;
}

.made-by span {
  color: white;
}

.down-area {
  margin-top: 55px;
  margin-bottom: 60px;
}

.footer-list {
  list-style-type: none;
  color: white;
  display: inline-flex;
}

.footer-list li {
    padding-right: 19px;
    font-size: 13px;
}

.footer-list li a {
  color: white;
  cursor: pointer;
}

.grey-link {
  color: #6e737e;
  cursor: pointer;
}

.white-links {
  color: white;
  cursor: pointer;
}

.white-links:hover {
  color: white;
  cursor: pointer;
}

.grey-link:hover {
  color: white;
  cursor: pointer;
}

.rows-space {
  line-height: 0.0;
  color: white;
}

.pink-links {
  color: #f09;
  font-weight: bold;
  cursor: pointer;
}

.pink-links:hover {
  color: #ff66c2;
}

.language-switcher {
  display: block;
  position: absolute;
  top: 16px;
  right: 6px;
  z-index: 200;
  padding: 0 10px 10px 10px;
  width: 145px;
  font-size: 13px;
}

.flag-be {
  background-image: url('./be.svg');
}

.label {
  display: inline-block;
  vertical-align: middle;
  width: 74px;
  color: black;
}

.fa-caret-down:before {
  content: "\274C";
  border-radius: 3px;
}

.fa {
  font-size: 15px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.flag {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 14px;
  margin-right: 7px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-body ul li:hover{
  background:#ececec;
}

.dropdown-body ul li a {
  color: black;
}

/*.dropdown-body {
  display: none;
}*/

.dropdown-body ul li a:hover{
  text-decoration: none;
  color: black;
}

.langs {
  display: block;
  margin: 0;
  padding: 9px 0;
  border: 1px solid #ececec;
  border-top: 0;
  background: #fff;
  list-style-type: none;
}

.active-lang {
    display: inline-flex;
    border: 1px solid #ececec;
    color: black;
    text-decoration: none;
    padding: 4px 7px;
    margin-top: 10px;
}

/*mobiles*/
@media screen and (max-width: 480px) {

  .center-align {
    text-align: center;
    margin-top: 20px;
  }

  .footer-list {
    display: block;
  }

  .subscribe-form {
    border: 1px solid #ececec;
    display: table;
    width: 90%;
  }

  .vacancies-section {
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .left {
    padding-left: 45px;
    padding-right: 45px;
  }

  .right {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bottom-distance {
    margin-bottom: 50px;
  }

  .jobs-text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .left-button {
    padding-left: 45px;
  }

  .central-text h3 {
    color: #00182c;
    font-weight: bold;
    width: 84%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 768px) {

  .center-align {
    text-align: center;
    margin-top: 20px;
  }

  .footer-list {
    display: block;
  }

  .subscribe-form {
    border: 1px solid #ececec;
    display: table;
    width: 90%;
  }

  .vacancies-section {
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .left {
    padding-left: 45px;
    padding-right: 45px;
  }

  .right {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bottom-distance {
    margin-bottom: 50px;
  }

  .jobs-text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .left-button {
    padding-left: 45px;
  }

  .central-text h3 {
    color: #00182c;
    font-weight: bold;
    width: 84%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {

  .center-align {
    text-align: center;
    margin-top: 20px;
  }

  .footer-list {
    display: block;
  }

  .subscribe-form {
    border: 1px solid #ececec;
    display: table;
    width: 90%;
  }

  .vacancies-section {
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .left {
    padding-left: 45px;
    padding-right: 45px;
  }

  .right {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bottom-distance {
    margin-bottom: 50px;
  }

  .jobs-text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .left-button {
    padding-left: 45px;
  }

  .central-text h3 {
    color: #00182c;
    font-weight: bold;
    width: 84%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 1200px) {

.center-align {
    text-align: center;
    margin-top: 20px;
  }

  .footer-list {
    display: block;
  }

  .subscribe-form {
    border: 1px solid #ececec;
    display: table;
    width: 90%;
  }

  .vacancies-section {
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .left {
    padding-left: 45px;
    padding-right: 45px;
  }

  .right {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bottom-distance {
    margin-bottom: 50px;
  }

  .jobs-text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .left-button {
    padding-left: 45px;
  }

  .central-text h3 {
    color: #00182c;
    font-weight: bold;
    width: 84%;
    margin: 0 auto;
  }

}

@media screen and (min-width: 1300px) {

  .center-align {
    text-align: center;
    margin-top: 20px;
  }

  .footer-list {
    display: inline-flex;
  }

  .subscribe-form {
    border: 1px solid #ececec;
    display: table;
    width: 90%;
  }

  .vacancies-section {
    font-size: 17px;
    padding-top: 0;
    margin-bottom: 50px;
  }

  .left {
    padding-left: 45px;
    padding-right: 45px;
  }

  .right {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bottom-distance {
    margin-bottom: 50px;
  }

  .jobs-text {
    padding-left: 45px;
    padding-right: 45px;
  }

  .left-button {
    padding-left: 45px;
  }

  .central-text h3 {
    color: #00182c;
    font-weight: bold;
    width: 84%;
    margin: 0 auto;
  }

}

